.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a7f0f3;
    height: 100%;
  }

.login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
  }

.medida {
    width: 80%;
  }