<div class="container">
    <mat-toolbar>
        <span>Datos del Cliente</span>
    </mat-toolbar>
    <mat-card style="margin-top: 3%;">
        <form [formGroup]="form" >
            <mat-grid-list cols="4" rowHeight="80px">
                
                <mat-grid-tile [colspan]="4" [rowspan]="3">
                    <img src="./assets/img/usuario.png" width="230" height="230" >
                </mat-grid-tile>
                
            </mat-grid-list>
        </form>
  </mat-card>
</div>